[Unit]
Description=Run slskd-retry every 30 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
