* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(34, 34, 34, 0.9);
}

button {
    border-radius: 0;
    border-color: #333333;
	text-decoration-color: #bec1bf;
    color: #bec1bf;
	background-color: #2a2a2a;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #6aaa64;
	color: #000000;
	outline-style: none;
}

#lock            { background-image: -gtk-icontheme("system-lock-screen-symbolic"); }
#logout          { background-image: -gtk-icontheme("system-log-out-symbolic"); }
#suspend         { background-image: -gtk-icontheme("system-suspend-symbolic"); }
#shutdown        { background-image: -gtk-icontheme("system-shutdown-symbolic"); }
#reboot          { background-image: -gtk-icontheme("system-reboot-symbolic"); }
#sway-reload     { background-image: -gtk-icontheme("view-refresh-symbolic"); }

